<section id="portfolio">
  <div class="container">
    <!--start test team-->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Saja</h2>
        <hr class="star-primary">
        <p>Saja is a convenient way to track item sales on multiple sites.  Choose from any one of these popular brands.</p>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-7 center-block">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/ae_logo.png" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/amazon_logo.png" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/barnesandnoble_logo.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/costco_logo.png" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/crateandbarrel_logo.png" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/disney_logo.png" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/neiman-marcus_logo.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-7 center-block">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/nordstrom_logo.jpg" alt="">
            <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/target_logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row team well">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
        <h2>Our Team</h2>
        <hr class="star-primary">
      </div>
      <div class="col-lg-3 col-sm-6 text-center ">
        <img class="img-circle img-responsive img-center" src="../../assets/team_photos/joe.jpg" alt="http://placehold.it/200x200">
        <h3>Joe Ashby
        </h3>
        <p>
        <a href="https://www.linkedin.com/in/josephashby">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/ChiralAlchemist">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="mailto:jashby473@gmail.com">
          <i class="fa fa-envelope fa-2x"></i>
        </a>
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="../../assets/team_photos/madison.jpg" alt="http://placehold.it/200x200">
        <h3>Madison Duntz
        </h3>
        <p><a href=" https://www.linkedin.com/in/madisondunitz">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/MDunitz">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="mailto:dunitzm@gmail.com">
          <i class="fa fa-envelope fa-2x"></i>
        </a></p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="../../assets/team_photos/jessica.jpg" alt="http://placehold.it/200x200">
        <h3>Jessica Park
        </h3>
        <p><a href="linkedin.com/in/jeehaepark">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="github.com/jeehaepar">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="mailto:jessjhpark@gmail.com">
          <i class="fa fa-envelope fa-2x"></i>
        </a></p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="../../assets/team_photos/james.jpg" alt="http://placehold.it/200x200">
        <h3>James Youn
        </h3>
        <p>
        <a href="">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="">
          <i class="fa fa-envelope fa-2x"></i>
        </a>
        </p>
      </div>
    </div>
    <!--Endtest team-->
    <div class="row">
      <hr class="star-primary">
      <h2 class="text-center">Tech Used</h2>
      <hr class="star-primary">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="row">
            <img class="img-responsive pull-left" src="../../assets/tech_logos/angular_logo.png" alt="">
            <img class="img-responsive pull-right" src="../../assets/tech_logos/express_logo.png" alt="">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <img class="img-responsive" src="../../assets/tech_logos/node_logo.png" alt="">
          </div>
          <div class="col-md-3">
            <img class="img-responsive" src="../../assets/tech_logos/jasmine_logo.png" alt="">
          </div>
          <div class="col-md-3">
            <img class="img-responsive" src="../../assets/tech_logos/karma_logo.png" alt="">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="row">
            <img class="img-responsive pull-left" src="../../assets/tech_logos/gulp_logo.png" alt="">
            <img class="img-responsive pull-right" src="../../assets/tech_logos/postgres_logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
