<div class="container-fluid">
  <div class="row"><!--member profiles-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="well text-center">Group Members</h1>
    <div class="col-md-2">
    </div>
    <div class="col-md-5"><!--left side profiles-->
      <hr>
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive pull-left" src="../../assets/team_photos/joe.jpg" alt="">
        </div>
        <div class="col-md-7">
          <p class="">Joe Ashby</p>
          <i class="fa fa-linkedin fa-2x"></i>
          <br>
          <i class="fa fa-github fa-2x"></i>
          <br>
          <i class="fa fa-envelope fa-2x"></i>
          <p>Short blurb about you</p>
        </div>
      </div>
      <hr>

      <div class="col-md-5">
        <img class="img-responsive" src="../../assets/team_photos/jessica.jpg" alt="">
      </div>
      <div class="col-md-7">
        <p class="">Jessica Park</p>
        <i class="fa fa-linkedin fa-2x"></i>
        <br>
        <i class="fa fa-github fa-2x"></i>
        <br>
        <i class="fa fa-envelope fa-2x"></i>
        <p>Short blurb about you</p>
      </div>
    </div><!--left side profiles-->

    <div class="col-md-5"><!--right side profiles-->
      <hr>
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive pull-left" src="../../assets/team_photos/madison.jpg" alt="">
        </div>
        <div class="col-md-7">
          <p class="">Madison Duntz</p>
          <i class="fa fa-linkedin fa-2x"></i>
          <br>
          <i class="fa fa-github fa-2x"></i>
          <br>
          <i class="fa fa-envelope fa-2x"></i>
          <p>Short blurb about you</p>
        </div>
      </div>
      <hr>

      <div class="col-md-5">
        <img class="img-responsive" src="../../assets/team_photos/james.jpg" alt="">
      </div>
      <div class="col-md-7">
        <p class="">James Youn</p>
        <i class="fa fa-linkedin fa-2x"></i>
        <br>
        <i class="fa fa-github fa-2x"></i>
        <br>
        <i class="fa fa-envelope fa-2x"></i>
        <p>Short blurb about you</p>
      </div>
    </div><!--right side profiles-->


  </div><!--member profiles-->
  <div class="row">
    <h1 class="text-center well">Tech Used</h1>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="img-responsive pull-left" src="../../assets/tech_logos/angular_logo.png" alt="">
          <img class="img-responsive pull-right" src="../../assets/tech_logos/express_logo.png" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/tech_logos/node_logo.png" alt="">
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/tech_logos/jasmine_logo.png" alt="">
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/tech_logos/karma_logo.png" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="img-responsive pull-left" src="../../assets/tech_logos/gulp_logo.png" alt="">
          <img class="img-responsive pull-right" src="../../assets/tech_logos/postgres_logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
