
<!--landing page-->
<header>
  <section>
  <div ng-controller="fbAuthCtrl">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="../../assets/leo.png" alt="">
        <div class="intro-text">
          <span class="name">Saja</span>
          <hr class="star-light">
          <button type="button" class="btn btn-round btn-primary" ng-click="facebookLogin()">
            <span class="fa fa-facebook"> Login</span>
          </button>
        </div>
        <br>
        <span class="skills">Input moto here</span>
      </div>
    </div>
  </div>
  </section>
</header>
<!-- feature description #1 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="pull-left">Track prices on your favorite items</h3>
        <p>Let's say you have an item you really want but want to wait until the price drops.  Use our app to check it's prices daily and we'll contact you once it reaches your ideal price</p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cloud fa-stack-1x text-primary"></i>
        </span>
      </div>
    </div><!-- row -->
  </div>
<!-- feature description #2 -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cloud fa-stack-1x text-primary"></i>
        </span>
      </div>
      <div class="col-md-6">
        <h3>Track prices on your favorite items</h3>
        <p>Let's say you have an item you really want but want to wait until the price drops.  Use our app to check it's prices daily and we'll contact you once it reaches your ideal price</p>
      </div>
    </div><!-- row -->
  </div>

<!-- feature description #3 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="pull-left">Track prices on your favorite items</h3>
        <p>Let's say you have an item you really want but want to wait until the price drops.  Use our app to check it's prices daily and we'll contact you once it reaches your ideal price</p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cloud fa-stack-1x text-primary"></i>
        </span>
      </div>
    </div><!-- row -->
  </div>
</section>
<section id="services" class="services green-background">
  <div class="container">
    <div class="row text-center">
      <h2>Features</h2>
      <hr class="star-light">
    </div>
    <div class="row text-center col-lg-offset-2">
      <div class="col-md-3 col-sm-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cloud fa-stack-1x text-primary"></i>
        </span>
        <h4>
          <strong>Track from multiple sites</strong>
        </h4>
        <p>Track from 12 websites</p>
        <a href="#" class="btn btn-light">Learn More</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-flask fa-stack-1x text-primary"></i>
        </span>
        <h4>
          <strong>Get notified when your item goes on sale</strong>
        </h4>
        <p>Receive a daily report of how your items are priced</p>
        <a href="#" class="btn btn-light">Learn More</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shield fa-stack-1x text-primary"></i>
        </span>
        <h4>
          <strong>Buy/Wait recommendations</strong>
        </h4>
        <p>Not sure if you're getting a good deal?  Our algorithm will make recommendations for you</p>
        <a href="#" class="btn btn-light">Learn More</a>
      </div>
    </div><!--row -->
  </div>
  <!-- /.container -->
</section>
<section>
  <div class="container">
    <div class="row text-center">
      <h2>Pick from your favorite retailers</h2>
      <hr class="star-light">
    </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-6 center-block">
          <img class="img-responsive pull-left" src="../../assets/store_logos/ae_logo.png" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/amazon_logo.png" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/barnesandnoble_logo.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
          <img class="img-responsive pull-left" src="../../assets/store_logos/costco_logo.png" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/crateandbarrel_logo.png" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/disney_logo.png" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/neiman-marcus_logo.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-6 center-block">
          <img class="img-responsive pull-left" src="../../assets/store_logos/nordstrom_logo.jpg" alt="">
          <img class="img-responsive pull-left" src="../../assets/store_logos/target_logo.png" alt="">
        </div>
      </div>
  </div>
</section>
<section id="services" class="services green-background">
  <div class="container">
    <div class="row text-center">
      <h2>Product Video</h2>
      <hr class="star-light">
    </div>
  </div>
</section>
<section>
  <div class="container" ng-controller="fbAuthCtrl">
    <div class="row text-center">
      <h3>Login to start</h3>
      <button type="button" class="btn btn-round btn-primary" ng-click="facebookLogin()">
        <span class="fa fa-facebook"> Login</span>
      </button>
    </div>
  </div>
</section>

