<header>
  <section>
  <div ng-controller="fbAuthCtrl">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="../../assets/lion.png" alt="">
        <div class="intro-text">
          <span class="name">Saja</span>
          <hr class="star-light">
          <button type="button" class="btn btn-round btn-primary" ng-click="facebookLogin()">
            <span class="fa fa-facebook"> Login</span>
          </button>
        </div>
        <br>
        <h4 class="skills">Stalking sales for you</h4>
      </div>
    </div>
  </div>
  </section>
</header>
<!-- feature description #1 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="pull-left">Saja hunts for the best deals on the items you want</h3>
        <p>Not sure when the item you're shopping for will go on sale?</p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shopping-cart fa-stack-1x text-primary"></i>
        </span>
      </div>
    </div>
  </div>
<!-- feature description #2 -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-refresh fa-stack-1x text-primary"></i>
        </span>
      </div>
      <div class="col-md-6">
        <h3>Set it and forget it</h3>
        <p>Saja checks your item prices daily and we'll contact you once it reaches your ideal price.</p>
      </div>
    </div>
  </div>

<!-- feature description #3 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="pull-left">Monitor your items from multiple sites</h3>
        <p>We currently track items from 9 sites and are adding more.</p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x text-primary"></i>
        </span>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services green-background">
  <div class="container">
    <div class="row text-center">
      <h2>Product Video</h2>
      <hr class="star-light">
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row text-center">
      <u>
      <h2>Sites we currently offer</h2>
      </u>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-7 center-block">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/ae_logo.png" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/amazon_logo.png" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/barnesandnoble_logo.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/costco_logo.png" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/crateandbarrel_logo.png" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/disney_logo.png" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/neiman-marcus_logo.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-7 center-block">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/nordstrom_logo.jpg" alt="">
        <img class="retail-logo img-responsive pull-left" src="../../assets/store_logos/target_logo.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="green-background">
  <div class="container" ng-controller="fbAuthCtrl">
    <div class="row text-center">
      <h3>Login to start</h3>
      <button type="button" class="btn btn-round btn-primary" ng-click="facebookLogin()">
        <span class="fa fa-facebook"> Login</span>
      </button>
    </div>
  </div>
</section>
