<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Add item</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" ng-controller="itemsCtrl">
        <form name="addItemForm" ng-submit="addItem(addItemForm.$valid)" id="contactForm" novalidate>
          <!--input box for a nick name-->
          <div class="row control-group">
            <div class="form-group col-xs-12" ng-class="{'has-error': addItemForm.itemNickname.$invalid}">

              <div class="form-group has-success has-feedback">
                <label > Item Name </label>
                <input type="text" name="itemNickname" placeholder="Enter the nick name for your item ie) My shoes" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" ng-model="item.nickName" required ng-minlength="3" ng-maxlength="8"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="addItemForm.itemNickname.$error.required || addItemForm.itemNickname.$error.minlength || addItemForm.itemNickname.$error.maxlength"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addItemForm.itemNickname.$error.required || addItemForm.itemNickname.$error.minlength || addItemForm.itemNickname.$error.maxlength"></span>
                <span class="help-block" ng-show="addItemForm.itemNickname.$error.required">Required</span>
                <span class="help-block" ng-show="addItemForm.itemNickname.$error.minlength">Must be more than 2 characters</span>
                <span class="help-block" ng-show="addItemForm.itemNickname.$error.maxlength">Must be less than 9 characters</span>
              </div>
            </div>
          </div>
          <!-- input box for url-->
          <div class="row control-group">
            <div class="form-group col-xs-12" ng-class="{'has-error': addItemForm.itemURL.$invalid}">
              <div class="form-group has-success has-feedback">

                <label>Item URL:</label>
                <input type="text" name="itemURL" class="form-control" placeholder="Enter the website address. ie) www.amazon.com" id="inputSuccess2" aria-describedby="inputSuccess2Status" ng-model="item.URL"
                                                                                                                                                                                             required ng-pattern="/(ae|crateandbarrel|disneystore|costco|neimanmarcus|barnesandnoble|target|amazon|nordstrom).com/">
                 <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="addItemForm.itemURL.$error.required || addItemForm.itemURL.$error.pattern"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addItemForm.itemURL.$error.required || addItemForm.itemURL.$error.pattern"></span>
                <span class="help-block" ng-show="addItemForm.itemURL.$error.required">Required</span>
                <span class="help-block" ng-show="addItemForm.itemURL.$error.pattern">Not a valid URL</span>
              </div>
            </div>
            <!-- begin : a list of supported website-->
            <div class="form-group col-xs-12">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" href=".collapse1">
                      <h4 class="panel-title">
                        Supported websites
                      </h4>
                    </a>
                  </div>
                  <div id="collapse1" class="collapse1 panel-collapse collapse">
                    <div class="panel-body websites">
                      <a href="http://www.amazon.com/">amazon</a>, <a href="http://www.target.com/">target</a>, <a href="http://shop.nordstrom.com/">nordstrom</a>, <a href="http://www.crateandbarrel.com/"> crateandbarrel</a>, <a href="https://www.ae.com/">american eagle</a>, <a href="http://www.disneystore.com/">disneystore</a>, <a href="http://www.costco.com/">costco</a>, <a href="https://www.neimanmarcus.com/">neimanmarcus</a>, <a href="http://www.barnesandnoble.com/">barnesandnoble</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--input box for price-->
          <div class="row control-group">
            <div class="form-group col-xs-12" ng-class="{'has-error': addItemForm.idealPrice.$invalid}">
              <div class="form-group has-success has-feedback">
                <label>Ideal Price:</label>
                <input type="number" name="idealPrice" class="form-control" placeholder="Tell us your ideal price! The current price is : {{item.currentPrice}}" id="inputSuccess2" aria-describedby="inputSuccess2Status"  ng-model="item.idealPrice" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="addItemForm.idealPrice.$error.required || addItemForm.idealPrice.$error.number"></span> 
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addItemForm.idealPrice.$error.required || addItemForm.idealPrice.$error.number"></span>
                <span class="help-block" ng-show="addItemForm.idealPrice.$error.required">Required</span>
                <span class="help-block" ng-show="addItemForm.idealPrice.$error.number">Not a number!</span>
              </div>
            </div>
          </div>
          <!--input box for img-->
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Preview image</label>
              <div>
                <img ng-src="{{ item.imageUrl }}" rows="5">
              </div>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-round btn-success btn-lg light-blue-background">
                <span class="fa fa-plus"></span>
                <span>Add Item</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
