/*.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: red;
}

.thumbnail img {
  min-width: 100%;
  /*max-height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}*/

.square-box{
    position: relative;
    width: 95%;
    margin: 2.5%;
    overflow: hidden;
    /*background: #4679BD;*/
    background-repeat: no-repeat;
    background-position: center center;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
